button {
    font-size: x-large;
    margin: 5px;
}
.form label {
    font-size: x-large;
}
.form select {
    font-size: large;
}

/* Margins for labels */
.mr-2rem {
    padding-right: 2rem;
}
.mr-1rem {
    padding-right: 1rem;
}
.ml-2rem {
    padding-left: 2rem;
}
.ml-1rem {
    padding-left: 1rem;
}

.unselectable {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* Output */
#namegen-hint {
    display: none;
    font-style: italic;
}
#namegen-history {
    border: 0;
    overflow-y: auto;
    max-height: 500px;
    /* line-height: 175%; */
}
#namegen-result {
    font-size: xx-large;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* mobile */
@media only screen and (max-device-width: 480px) {
    .mr-2rem {    }
    .mr-1rem {    }
    .ml-2rem {    }
    .ml-1rem {    }
    select {
        max-width: 400px;
    }
}
